* {
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:20px 40px;
}


.header__left,.header__search,.header__icons{
  display: flex;
  align-items: center;
}

.header__icons{
  width: 140px;
  justify-content: space-between;
}

.app_logo{
   height: 25px;
   object-fit: contain;
   margin-left: 20px;
}


.header__search{
  border:1px solid black;
  width:40%;
}

.header__searchLink{
  display: block;
  width:50px !important;
  color:gray;
  border-left: 1px solid gray;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  height: 36px;
  justify-content: space-around;
}
.header__searchBtn{
  /* width:50px !important;
  color:gray;
  border-left: 1px solid gray;
  background-color: #f9f9f9; */
}

.header__search_form{
  display: flex;
  flex:1;
}

.header__search_form>input{
  flex:1;
  border:none;
  height: 36px;
}

.app__page{
  display: flex;
}

.sidebar{
  flex:0.2;
}

.main{
  flex:0.8;
  padding: 10px 40px;
  background-color: #f0f0f0;
}

.main h2{
  margin-top: 10px;
  margin-bottom: 10px;
}


.sidebar_row{
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.sidebar_row.selected,
.sidebar_row:hover{
  background-color: lightgray;
  cursor: pointer;
}

.sidebar_row.selected .sidebar_row_icon,
.sidebar_row:hover .sidebar_row_icon{
  color: red;
}

.sidebar_row.selected .sidebar_row_title,
.sidebar_row:hover .sidebar_row_title{
  font-weight: bold;
}

.sidebar_row_title{
  flex:1;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
}

.sidebar_row_icon{
  color:#606060;
  font-size: large !important;
}

hr{
  height: 1px;
  border:0;
  background-color: lightgray;
  margin:10px 0 10px;
}


.main__videos{
  display: flex;
  flex-wrap: wrap;
}

.video_card{
  width:270px;
  margin-bottom: 40px;
  margin-right: 20px;
  background-color:white;
  padding: 10px;
}

.video_card_thumbnail{
  width: 100%;
}


.video_card_title{
  margin-top: 10px;
  margin-right: 20px;
  height: 42px;
  overflow: hidden;
}

.video_card_title a{
  text-decoration: none;
  color:black;
}

.video_card_meta{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-top: 10px;
  margin-right: 20px;
  color: #606060;
}

.video_card_meta .video_author,
.video_card_meta .time,
.video_card_meta .views{
  display: flex;
  align-items: center;
}



.search_page__filter{
  display: flex;
  align-items: center;
  font-size: small;
  color:#606060;
}

.video_row{
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #10161a26;
}

.video_row:hover{
  background-color: #f9f9f9;
}

.video_row_thumbnail{
  width:250px;
}

.video_row__info{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video_row a{
  text-decoration: none;
}

.video_row_title{
  font-weight: 800;
  color:#000;
}

.video_row_title a{
  color:#000;
}

.video_row_meta{
  width:300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #aaa;
}

.video_row_meta>span{
  display: flex;
  align-items: center;
}

.video_row_desc{
  font-size: 11px;
  height: 90px;
  color:#606060;
  overflow: hidden;
}

.video_row_desc pre{
  width: 90%;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}


.search_page__channel{
  display: flex;
  align-items: center;
}

.channel_logo{
  width:120px !important;
  height: 120px !important;
  margin: 10px 60px;
}

.channel_info h3{
  display: flex;
  align-items: center;
}

.channel_info p{
  margin-top: 5px;
  font-size: 14px;
}

